.schedule-home {
  .schedule-home-header {
    background-color: white;
    height: 75px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 12px #e6e9ef;

    .title {
      height: 75px;
      padding: 7.5px 30px 7.5px 0;

      div {
        height: 30px;
        line-height: 30px;
        text-align: left;
      }

      :first-child {
        font-size: 18px;
      }

      :last-child {
        font-size: 16px;
      }
    }

    .background {
      img {
        width: 75px;
        height: 75px;
      }
    }

    .feedback-button {
      height: 75px;
      line-height: 75px;
    }

    .search-button {
      height: 75px;
      line-height: 75px;
    }
  }

  .schedule-home-content {
    background-color: white;
    padding: 20px;

    .schedule-home-content-left {
      flex: 1;
      border-radius: 10px;
      box-shadow: 0 3px 12px #e6e9ef;

      .ant-collapse-header {

        .ant-collapse-expand-icon {
          height: 34px;
        }

        .ant-collapse-header-text {
          flex: none;

          div:first-child {
            color: #323338;
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

      .ant-collapse-content-box {
        > div:first-child {
          display: grid;
          grid-gap: 20px;
          grid-auto-rows: auto;
          grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

          > div {
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid #d0d4e4;
            padding: 10px;
          }

          > div:hover {
            border: none;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    .schedule-home-content-right {
      width: 350px;

      > div:first-child {

        > div:nth-child(1) {
          box-shadow: 0 3px 12px #e6e9ef;
          padding: 10px;
          border-radius: 10px;

          p {
            text-align: left;
            font-size: 16px;
            color: #323338;
          }

          button {
            height: 40px;
            font-size: 16px;
            color: #323338;
          }
        }

        > div:nth-child(2) {
          color: #323338;
          font-size: 16px;
          text-align: left;
          font-weight: 500;
        }

        > div:nth-child(3),
        > div:nth-child(4) {
          box-shadow: 0 3px 12px #e6e9ef;
          transition: box-shadow 0.3s ease;

          .ant-card-body {
            padding: 10px;

            .ant-flex.ant-flex-justify-space-between {
              height: 50px;

              .schedule-home-content-right-card-text {
                text-align: left;
                width: 78%;

                h2 {
                  font-weight: bold;
                  color: #323338;
                }
              }

              img {
                width: 50px;
              }
            }
          }
        }

        > div:nth-child(3):hover,
        > div:nth-child(4):hover {
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}