$content-height: calc(100vh - 50px);

.schedule {
  min-height: calc(100vh - 50px);

  .schedule-sider {
    .schedule-sider-trigger {
      height: 75px;
      cursor: pointer;
      text-align: center;
      line-height: 75px;
      transition: all 0.2s;
    }

    .schedule-sider-menu {
      border-inline-end: none;
    }
  }

  .schedule-body {
    padding-left: 5px;
    overflow: auto;
  }
}